/* tab view starts*/

@media(min-width:765px) and (max-width:956px){
    header .my-name{
        margin-left: 7%;
        font-size: x-large;
    }
    .nav-menu a{
        margin-right: 20px;
        font-size: x-small;
    }
    .container{
        height: 2500px;
    }

    .project-details{
        width: 45%;

    }
    .project-section{
        padding: 0%;
    }

}


/* tab view end */


/* mobile view starts */


@media (max-width:765px){
  
    .container{
        height: 2500px;
    }
    header{
        height: 50px;
        display: flex;
        justify-content: space-between;
    }
    .nav-menu{
        /* display: none; */
        position: absolute;
        top: 52px;
        right: 0%;
        transform: translateX(100%);
        transition: 0.5s ease-in-out;
    }
    header .my-name{
        font-size: larger;
        font-family: sans-serif;
        letter-spacing: 1px;
        width: 80%;
    }
    .skills-container{
        width: 47%;
        height: 200px;
        margin-left: 9%;
        display: flex;
        flex-direction: column;
        align-items: start;
        transition: 1s;
    }
    .bio-container{
        display: none;
    }
    .nav-icon{
        display: block;
        position: absolute;
        right: 8px;
        margin-right: 4%;
    }
    .project-section{
        flex-direction: column;
    }
    .project-details{
        width: 98%;
        margin: auto;
        margin-bottom: 8px;
    }
    .nav-menu.nav-show{

        position: absolute;
        /* display: block; */
        width: 100%;
        top: 52px;
        left: 0;
        background-color: rgb(10, 75, 79);
        height: 100vh;
        transform: translateX(0%);

    }
    .nav-menu a{
        display: block;
        text-align: center;
        margin: auto;
        margin-top: 16px;
        width: 30%;
    }
    .links-hide{
        display: none;
    }
    
}