/* tab view starts*/

@media(min-width:765px) and (max-width:956px){
    header .my-name{
        margin-left: 7%;
        font-size: x-large;
    }
    .nav-menu a{
        margin-right: 20px;
        font-size: x-small;
    }
    .container{
        height: 2500px;
    }

    .project-details{
        width: 45%;

    }
    .project-section{
        padding: 0%;
    }

}


/* tab view end */


/* mobile view starts */


@media (max-width:765px){
    body{
        width: 100%;
        background-position: 3% 3%;
    }
  
    .container{
        height: 2500px;
        width: 100%;
    }
    header{
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .nav-menu{
        position: absolute;
        width: 100%;
        top: 52px;
        right: 0%;
        transform: translateX(-150%);
        transition: transform 0.5s ease;
    }
    header .my-name{
        font-size: larger;
        font-family: sans-serif;
        letter-spacing: 1px;
        width: 80%;
    }
    .skills-container{
        width: 47%;
        height: 200px;
        margin-left: 9%;
        display: flex;
        flex-direction: column;
        align-items: start;
        transition: 1s;
    }
    .bio-container{
        display: none;
    }
    .nav-icon{
        display: block;
        position: relative;
        right: 12px;
    }
    .project-section{
        flex-direction: column;
    }
    .project-details{
        width: 98%;
        margin: auto;
        margin-bottom: 8px;
    }
    .nav-menu.nav-show{

        position: absolute;
        /* display: block; */
        width: 100%;
        top: 52px;
        background-color: rgb(10, 75, 79);
        height: 100vh;
        transform: translateX(0%);

    }
    .nav-menu a{
        display: block;
        text-align: center;
        margin: auto;
        margin-top: 16px;
        width: 30%;
    }
    .links-hide{
        display: none;
    }
    
}